<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>pf /// {{page.title}} /// whywhywhy</title>
        <meta name=author content="pablo flouret">
        <link rel=home href="/">

        <link href="/feeds/all.xml" rel=alternate title="pf : pflouret.github.io" type="application/rss+xml">
        <link rel=stylesheet href="/css/screen.css" type="text/css" media="screen, projection">
        {% for css_name in page.extra_css %}
        <link rel=stylesheet href="{{ css_name }}">
        {% endfor %}
    </head>
<body>
    <div id=header>
        <h1><a href="/" title="home">pflouret.github.io &nbsp;&nbsp;  /// &nbsp;&nbsp;  whywhywhy</a></h1>
    </div>

    <div id=content>
        {{content}}
    </div>

    <div id=footer>
        <div id=ohhai>
            <pre>
<a href="mailto:pflouret@gmail.com" title="mail"><img src="/img/social_icons/gmail.png" alt=""> pflouret@gmail.com</a>

         OH HAI
        /
      \o
       |\
      /|
            </pre>
        </div>
        <div id=icon-credits>
          <p>icon credits</p>
          <ul>
            <li><a target="_blank" href="https://icons8.com/icon/13983/youtube-logo">YouTube Logo</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/13928/instagram-old">Instagram Old</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/13669/soundcloud">SoundCloud</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/47593/bandcamp">Bandcamp</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/81753/fm">Fm</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/G9XXzb9XaEKX/spotify">Spotify</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/Yjjy8NGpNE3i/songkick-allows-you-to-organize-and-track-your-favorite-bands">Songkick</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/Z1PjSAA6ckVe/goodreads">Goodreads</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/13963/twitter">Twitter</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/20896/flickr">Flickr</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/21047/vine">Vine</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/62856/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/118497/facebook">Facebook</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            <li><a target="_blank" href="https://icons8.com/icon/114445/linkedin-circled">LinkedIn Circled</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
          </ul>
        </div>
        <p id=last-update>
            {% comment %}
            <a href="/feeds/all.xml" style="color: inherit">rss</a>
            {% render_time site last updated %}<br>
            {% endcomment %}
        </p>
    </div>

    {% unless site.local %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-44322771-1', 'parb.es');
        ga('send', 'pageview');
    </script>
    {% endunless %}
</body>
</html>
